<footer class="footer">
    <div class="footer-main">
        <div class="footer-main-info">
            <div class="logo">
                <img src="../../assets/images/footer-logo.png" alt="logo" />
            </div>

            <p class="footer-main-info__text">
                (с) 2019 «Aparking» RR2 LLP
            </p>

        </div>

        <div class="footer-main-info">
            <a href="" style="color:#fff">
                Решения для бизнеса
            </a>
            <a href="" style="color:#FDDB44">
                b2bsales@aparking.kz
            </a>

        </div>

        <div class="footer-main-info">
            <p style="color:#fff">г. Алматы, Баганашыл, ул. Зеленая, 16</p>
            <a href="" style="color:#FDDB44">Посмотреть на карте</a>
        </div>
    </div>

</footer>